version: 2.0

jobs:
  build:
    docker:
      - image: circleci/openjdk:11.0
    steps:
      - checkout
      - run: mvn -B -DskipTests clean package

  test:
    docker:
      - image: circleci/openjdk:11.0
    steps:
      - checkout
      - run: mvn test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
    upload the Artifacts: 
     docker:
      - image: circleci/openjdk:11.0
     steps:
      - checkout
      - run:
          name: Uploading the Artifacts
          command: |
            mkdir -p ~/PublishedArtifacts
      - store_artifacts:
          path: ~/PublishedArtifacts
      - run: mvn clean install
   
workflows:
  version: 2

  build-then-test:
    jobs:
      - build
      - test:
          requires:
            - build
