version: 2.0

jobs:
  build:
    docker:
      - image: circleci/openjdk:11.0
    steps:
      - checkout
      - run: mvn -B -DskipTests clean package
      - persist_to_workspace:
         root: ./
         paths:
           - target/

  test:
    docker:
      - image: circleci/openjdk:11.0
    steps:
      - checkout
      - attach_workspace:
          at: ./target
      - run: mvn test

workflows:
  version: 2

  build-then-test:
    jobs:
      - build
      - test:
          requires:
            - build
